{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}测试申请列表{% endblock %}
{% block content %}
    <div class="container-fluid">
        <ul class="filter">
            <li>
                <p><strong>客户级别：</strong></p>
                <a href="{% url 'test-apply-list' priority=0 progress=progress product_id=product_id %}?{{ query_param }}" {% ifequal priority 0 %}class="selected"{% endifequal %}>不限<span></span></a>
                {% for val, text in customer_priority %}
                    <a href="{% url 'test-apply-list' priority=val progress=progress product_id=product_id %}?{{ query_param }}" {% ifequal priority val %}class="selected"{% endifequal %}>{{ text }}<span></span></a>
                {% endfor %}
            </li>
            <li>
                <p><strong>产品：</strong></p>
                <a href="{% url 'test-apply-list' priority=priority progress=progress product_id=0 %}?{{ query_param }}" {% ifequal product_id 0 %}class="selected"{% endifequal %}>不限<span></span></a>
                {% for product in products %}
                    <a href="{% url 'test-apply-list' priority=priority progress=progress product_id=product.id %}?{{ query_param }}" {% ifequal product_id product.id %}class="selected"{% endifequal %}>{{ product.name }}<span></span></a>
                {% endfor %}
            </li>
        </ul>
        <form class="form-inline" action="{{ request.path }}" method="post" style="margin-bottom: 5px">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" name="project_name" value="{{ project_name }}" placeholder="项目名称">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">查询</button>
                </span>
            </div>
        </form>
    </div>
    <!-- 信息列表 -->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li role="presentation" {% ifequal progress 1 %}class="active"{% endifequal %}><a href="{% url 'test-apply-list' priority=priority progress=1 product_id=product_id %}?{{ query_param }}">待测试</a></li>
            <li role="presentation" {% ifequal progress 2 %}class="active"{% endifequal %}><a href="{% url 'test-apply-list' priority=priority progress=2 product_id=product_id %}?{{ query_param }}">测试中</a></li>
            <li role="presentation" {% ifequal progress 3 %}class="active"{% endifequal %}><a href="{% url 'test-apply-list' priority=priority progress=3 product_id=product_id %}?{{ query_param }}">测试完成</a></li>
            <li role="presentation" {% ifequal progress 4 %}class="active"{% endifequal %}><a href="{% url 'test-apply-list' priority=priority progress=4 product_id=product_id %}?{{ query_param }}">退回的申请</a></li>
        </ul>
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>所属项目</th>
                    <th>所属客户</th>
                    <th>申请人</th>
                    <th>申请时间</th>
                    <th>dts账号</th>
                    <th>风控经理</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% for test_apply in page.object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{{ test_apply.project.get_absolute_url }}" class="btn btn-link btn-tb" role="button">{{ test_apply.project.name }}</a></td>
                    <td><a href="{{ test_apply.project.customer.get_absolute_url }}" class="btn btn-link btn-tb" role="button">{{ test_apply.get_customer_name }}</a></td>
                    <td>{{ test_apply.applyman.user.first_name }}</td>
                    <td>{{ test_apply.create_time | date:"Y-m-d H:i" }}</td>
                    <td>{{ test_apply.dts_account }}</td>
                    <td>{{ test_apply.analyser.user.first_name }}</td>
                    <td>
                        <a href="{{ test_apply.get_absolute_url }}" class="btn btn-link btn-tb" role="button">查看</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div align="center">
        {% bootstrap_pagination page url=request.path extra=query_param size="small" %}
    </div>
{% endblock %}
{% block modal %}
<!-- update-Modal -->
<div class="modal fade" id="update-progress-modal" tabindex="-1" role="dialog" aria-labelledby="update-progress-model" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong></strong></h4>
            </div>
            <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="progress" class="control-label">最新进度：</label>
                    <select id="progress" name="progress" class="form-control">
                        {% for val, text in progress_choices %}
                        <option value="{{ val }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="description" class="control-label">最新进展：</label>
                    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" value="" onclick="update_progress(this)">保存</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div><!-- end update-Modal -->
{% endblock %}