<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="analyser" class="control-label">风控经理：</label>
        <select id="analyser" name="analyser" class="form-control">
        {% for usercredit in analysers %}
            <option value="{{ usercredit.id }}" {% ifequal usercredit analyser_selected %}selected{% endifequal %}>{{ usercredit.user.first_name }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="imp-engineer" class="control-label">交付经理：</label>
        <select id="imp-engineer" name="imp-engineer" class="form-control">
        {% for usercredit in imp_engineers %}
            <option value="{{ usercredit.id }}" {% ifequal usercredit imp_engineer_selected %}selected{% endifequal %}>{{ usercredit.user.first_name }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">是否已签署保密协议：</label>
        <label class="radio-inline"><input type="radio" name="nda" id="nda" value="0" {% ifequal nda 0 %}checked{% endifequal %}>否</label>
        <label class="radio-inline"><input type="radio" name="nda" id="nda" value="1" {% ifequal nda 1 %}checked{% endifequal %}>是</label>
    </div>
    <div class="form-group">
        <label class="control-label">是否已签署正式合同：</label>
        <label class="radio-inline"><input type="radio" name="contract" id="contract" value="0" {% ifequal contract 0 %}checked{% endifequal %}>否</label>
        <label class="radio-inline"><input type="radio" name="contract" id="contract" value="1" {% ifequal contract 1 %}checked{% endifequal %}>是</label>
    </div>
    <div class="form-group">
        <label class="control-label">是否部署百融代码：</label>
        <label class="radio-inline"><input type="radio" name="br-code" id="br-code" value="0" {% ifequal br_code 0 %}checked{% endifequal %}>否</label>
        <label class="radio-inline"><input type="radio" name="br-code" id="br-code" value="1" {% ifequal br_code 1 %}checked{% endifequal %}>是</label>
    </div>
    <div class="form-group">
        <label class="control-label">账号类型：</label>
        <label class="radio-inline"><input type="radio" name="account-type" id="account-type" value="1" onclick="setDoneTime(false)" {% ifequal account_type 1 %}checked{% endifequal %}>试用</label>
        <label class="radio-inline"><input type="radio" name="account-type" id="account-type" value="2" onclick="setDoneTime(true)" {% ifequal account_type 2 %}checked{% endifequal %}>正式</label>
    </div>
    <div class="form-group">
        <label for="id-done-time" class="control-label">测试周期</label>
        <select class="form-control" id="id-done-time" name="done-time">
        {% ifequal account_type 1 %}
            <option value="0" {% ifequal done_time 0 %}selected{% endifequal %}>30天</option>
            <option value="1" {% ifequal done_time 1 %}selected{% endifequal %}>60天</option>
            <option value="2" {% ifequal done_time 2 %}selected{% endifequal %}>90天</option>
            <option value="3" {% ifequal done_time 3 %}selected{% endifequal %}>180天</option>
        {% else %}
            <option value="4" selected>无限制（正式账号）</option>
        {% endifequal %}
        </select>
    </div>
    <div class="form-group">
        <label for="id-num-day" class="control-label">日查询条数限制（条/天，如是正式账号限制为999999）</label>
        <input id="id-num-day" name="num-day" type="number" min=1 max=999999 class="form-control" value="{{ num_day }}" placeholder="必填" {% ifequal account_type 2 %}readonly{% endifequal %} required>
    </div>
    <div class="form-group">
        <label for="free-day" class="control-label">免费期（天）</label>
        <input id="free-day" name="free-day" type="number" min=0 max=9999 class="form-control" value="{{ free_day }}" placeholder="必填" required>
    </div>
    <div class="form-group">
        <label class="control-label">采购的数据模块(必选)</label>
        {% for category, data_module_list in data_modules_dict.items %}
        <div class="checkbox">
            <p>{{ category }}：</p>
            {% for data_module in data_module_list %}
                <label><input name="data-modules" value="{{ data_module.id }}" type="checkbox" {% if data_module.id in data_modules %}checked{% endif %}>{{ data_module.name }}</label>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="id-module-price-desc" class="control-label">各模块价格说明</label>
        <textarea id="id-module-price-desc" name="module-price-desc" class="form-control" rows="3" placeholder="必填" required>{{ module_price_desc }}</textarea>
    </div>
    <div class="form-group">
        <label for="contact" class="control-label">联系人</label>
        <div class="input-group">
            <select id="contact" name="contact" class="form-control">
                {% for contact in contacts %}
                    <option value="{{ contact.id }}" {% ifequal contact contact_selected %}selected{% endifequal %}>{{ contact.name }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" onclick="show_contact_add_modal()">新建</button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="notes" class="control-label">备注：</label>
        <textarea id="notes" name="notes" class="form-control" rows="3">{{ notes }}</textarea>
    </div>
    <div align="center">
        <button type="submit" class="btn btn-success">提交</button>
        <button type="button" class="btn btn-danger" onclick="backtopage()">返回</button>
    </div>
</form>
<script>
function setDoneTime(type){
    var doneTime = $("#id-done-time");
    doneTime.empty();
    if(type){
        doneTime.append('<option value="4" selected>无限制（正式账号）</option>');
        $("#id-num-day").val(999999);
        $("#id-num-day").attr("readonly", "true");
    }else{
        doneTime.append('<option value="0" selected>30天</option>');
        doneTime.append('<option value="1">60天</option>');
        doneTime.append('<option value="2">90天</option>');
        doneTime.append('<option value="3">180天</option>');
        $("#id-num-day").val(1);
        $("#id-num-day").removeAttr("readonly");
    }
}
</script>