{% extends "base.html" %}
{% block title %}申请测试{% endblock %}
{% block content %}
<div class="container-fluid">

        <div class="panel panel-info panel-table" style="max-width: 680px;margin: 10px auto;">
            <div class="panel-heading">
                <h3 class="panel-title">申请测试</h3>
            </div>
            <div class="panel-body">
            <p><strong>项目名称:</strong>{{ project.name }}</p>
            <p><strong>客户名称:</strong>{{ project.customer.name }}</p>
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label for="analyser" class="control-label">百融分析师：</label>
                        <select id="analyser" class="form-control">
                            {% for usercredit in analysers %}
                                {% if usercredit.id == analyser_select %}
                                <option value="{{ usercredit.id }}" selected="selected">{{ usercredit.user.first_name }}</option>
                                {% else %}
                                <option value="{{ usercredit.id }}">{{ usercredit.user.first_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="amount-data" class="control-label">测试数据量(必填)：</label>
                        <input id="amount-data" type="tel" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="goal" class="control-label">本次测试目标(必填)：</label>
                        <textarea id="goal" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="fields" class="control-label">客户提供的测试字段(必填)：</label>
                        <textarea id="fields" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">测试结果要求(必填)：</label>
                        <div class="checkbox">
                            {% for t in test_result %}
                                <label><input name="test-result" value="{{ t.id }}" type="checkbox">{{ t.name }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">是否提供逾期状态：</label>
                        <div class="checkbox">
                            <label><input name="overdue-state" type="checkbox">是/否</label>
                        </div>
                    </div>
                    {% if project.tested and project.get_latest_testapply.contact.name %}
                    <div class="form-group">
                        <label for="contact-name" class="control-label">联系人(必填)：</label>
                        <input id="contact-name" type="text" class="form-control" value="{{ project.get_latest_testapply.contact.name }}" placeholder="姓名" disabled>
                    </div>
                    <div class="form-group">
                        <label for="contact-pos" class="control-label">职位：</label>
                        <input id="contact-pos" type="text" class="form-control" value="{{ project.get_latest_testapply.contact.position }}" placeholder="职位" disabled>
                    </div>
                    <div class="form-group">
                        <label for="contact-tel" class="control-label">办公电话：</label>
                        <input id="contact-tel" type="text" class="form-control" value="{{ project.get_latest_testapply.contact.tel }}" placeholder="固话" disabled>
                    </div>
                    <div class="form-group">
                        <label for="contact-mobile" class="control-label">手机：</label>
                        <input id="contact-mobile" type="text" class="form-control" value="{{ project.get_latest_testapply.contact.mobile }}" placeholder="手机" disabled>
                    </div>
                    <div class="form-group">
                        <label for="contact-mail" class="control-label">电子邮箱(必填,该邮箱用于客户接收DTS账号与密码,测试结果与分析报告,请确认无误后再提交)：</label>
                        <input id="contact-mail" type="text" class="form-control" value="{{ project.get_latest_testapply.contact.email }}" placeholder="电子邮箱" disabled>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <label for="contact-name" class="control-label">联系人(必填)：</label>
                        <input id="contact-name" type="text" class="form-control" placeholder="姓名">
                    </div>
                    <div class="form-group">
                        <label for="contact-pos" class="control-label">职位：</label>
                        <input id="contact-pos" type="text" class="form-control" placeholder="职位">
                    </div>
                    <div class="form-group">
                        <label for="contact-tel" class="control-label">办公电话：</label>
                        <input id="contact-tel" type="text" class="form-control" placeholder="固话">
                    </div>
                    <div class="form-group">
                        <label for="contact-mobile" class="control-label">手机：</label>
                        <input id="contact-mobile" type="text" class="form-control" placeholder="手机">
                    </div>
                    <div class="form-group">
                        <label for="contact-mail" class="control-label">电子邮箱(必填,该邮箱用于客户接收DTS账号与密码,测试结果与分析报告,请确认无误后再提交)：</label>
                        <input id="contact-mail" type="text" class="form-control" placeholder="电子邮箱">
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="notes" class="control-label">备注：</label>
                        <textarea id="notes" class="form-control" rows="3"></textarea>
                    </div>
                    <div align="center">
                        <button type="button" class="btn btn-success" value="{{ project.id }}" onclick="testApplyAdd(this)">提交</button>
                        <button type="button" class="btn btn-danger" onclick="backpage()">返回</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}