{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}项目列表{% endblock %}
{% block content %}
    <div class="container-fluid">
        <ul class="filter">
            <li>
                <p><strong>客户级别：</strong></p>
                <a href="{% url 'project-list' priority=0 progress=progress productid=productid zoneid=zoneid updatetime=updatetime %}?{{ query_string_businessman }}" {% ifequal priority 0 %}class="selected"{% endifequal %}>不限<span></span></a>
                {% for val, text in project_priority %}
                    <a href="{% url 'project-list' priority=val progress=progress productid=productid zoneid=zoneid updatetime=updatetime %}?{{ query_string_businessman }}" {% ifequal priority val %}class="selected"{% endifequal %}>{{ text }}<span></span></a>
                {% endfor %}
            </li>
            <li>
                <p><strong>最新进度：</strong></p>
                <a href="{% url 'project-list' priority=priority progress=0 productid=productid zoneid=zoneid updatetime=updatetime %}?{{ query_string_businessman }}" {% ifequal progress 0 %}class="selected"{% endifequal %}>不限<span></span></a>
                {% for val, text in progress_choices %}
                    <a href="{% url 'project-list' priority=priority progress=val productid=productid zoneid=zoneid updatetime=updatetime %}?{{ query_string_businessman }}" {% ifequal progress val %}class="selected"{% endifequal %}>{{ text }}<span></span></a>
                {% endfor %}
            </li>
            <li>
                <p><strong>产品：</strong></p>
                <a href="{% url 'project-list' priority=priority progress=progress productid=0 zoneid=zoneid updatetime=updatetime %}?{{ query_string_businessman }}" {% ifequal productid 0 %}class="selected"{% endifequal %}>不限<span></span></a>
                {% for product in products %}
                    <a href="{% url 'project-list' priority=priority progress=progress productid=product.id zoneid=zoneid updatetime=updatetime %}?{{ query_string_businessman }}" {% ifequal productid product.id %}class="selected"{% endifequal %}>{{ product.name }}<span></span></a>
                {% endfor %}
            </li>
        {% if zones %}
            <li>
                <p><strong>所属区域：</strong></p>
                <a href="{% url 'project-list' priority=priority progress=progress productid=productid zoneid=0 updatetime=updatetime  %}?{{ query_string_businessman }}" {% ifequal zoneid 0 %}class="selected"{% endifequal %}>不限<span></span></a>
                {% for zone in zones %}
                    <a href="{% url 'project-list' priority=priority progress=progress productid=productid zoneid=zone.id updatetime=updatetime %}?{{ query_string_businessman }}" {% ifequal zone.id zoneid %}class="selected"{% endifequal %}>{{ zone.name }}<span></span></a>
                {% endfor %}
            </li>
        {% endif %}
            <li>
                <p><strong>更新时间：</strong></p>
                {% for val, text in time_choices %}
                    <a href="{% url 'project-list' priority=priority progress=progress productid=productid zoneid=zoneid updatetime=val %}?{{ query_string_businessman }}" {% ifequal val updatetime %}class="selected"{% endifequal %}>{{ text }}<span></span></a>
                {% endfor %}
            </li>
        </ul>


        <!-- 自定义查询 -->
        <form class="form-inline" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="customer-control" class="control-label">商务：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <select id="customer-control" name="businessman-id" class="form-control">
                    <option value="0" {% ifequal businessman_id 0 %}selected{% endifequal %}>全部</option>
                    {% for businessman in businessmans %}
                        <option value="{{ businessman.id }}" {% ifequal businessman_id businessman.id %}selected{% endifequal %}>{{ businessman.user.first_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="project-name" class="control-label">项目名称：</label>
                <input name="project-name" type="text" class="form-control input-box" value="{{ project_name }}" placeholder="项目名称">
            </div>
            <div class="form-group">
                <label for="customer-name" class="control-label">客户名称：</label>
                <input name="customer-name" type="text" class="form-control input-box" value="{{ customer_name }}" placeholder="客户名称">
            </div>
            <div class="form-group">
                <label for="date-start" class="control-label">更新时间：</label>
                <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                    <input name="date-start" class="form-control" size="10" type="text" value="{{ date_start }}" placeholder="起始时间" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="date-end" class="control-label">至</label>
                <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                    <input name="date-end" class="form-control" size="10" type="text" value="{{ date_end }}" placeholder="结束时间" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success form-group">查询</button>
        </form>
    </div>

    <!-- 信息列表 -->
    <div class="container-fluid">
        <div align="left">
            <br>
            <a href="{% url 'project-add' %}" class="btn btn-success" role="button">新增项目</a>
            <a href="{% url 'export-projects' %}?{{ export_url_param }}" target="_blank" role="button" class="btn btn-success">&nbsp;&nbsp;导出&nbsp;&nbsp;</a>
        </div>
        <br>
        <div>
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>项目名称</th>
                        <th>所属客户</th>
                        <th>产品</th>
                        <th>客户级别</th>
                        <th>状态</th>
                        <th>跟进商务</th>
                        <th>最新进度</th>
                        <th>最新进展</th>
                        <th>下一步计划</th>
                        {% if showmark %}<th>标注</th>{% endif %}
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {% for project in page.object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ project.name }}</td>
                        <td>{{ project.customer.name }}</td>
                        <td>{{ project.get_products_name }}</td>
                        <td>{{ project.priority_display }}</td>
                        <td>{{ project.get_state }}</td>
                        <td>{{ project.get_businessmans_name }}</td>
                    {% with progress=project.get_cur_progress mark=project.get_mark_content %}
                        <td>{{ progress.progress }}</td>
                        <td style="width: 25%">{{ progress.desc }}</td>
                        <td style="width: 20%">{{ progress.plan }}</td>
                        {% if showmark %}<td style="width: 15%">{{ mark }}</td>{% endif %}
                        <td>
                            <a href="{% url 'project-view' project.id %}" class="btn btn-link btn-tb" role="button">查看</a>
                            {% if showmark %}
                                {% if project.progress_set.exists %}
                                <button type="button" class="btn btn-link btn-tb" onclick="show_mark_modal({{ progress.id }}, '{{ mark }}')">标注</button>
                                {% else %}
                                <button type="button" disabled="disabled" class="btn btn-link btn-tb">标注</button>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endwith %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div align="center">
        {% bootstrap_pagination page url=request.path extra=extra_param size="small" %}
    </div>
{% endblock %}
{% if showmark %}
    {% block modal %}
        <!-- mark-modal -->
        <div class="modal fade" id="mark-modal" tabindex="-1" role="dialog" aria-labelledby="mark-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><strong>标注</strong></h4>
                    </div>
                    <div class="modal-body">
                        <textarea name="content" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" value="" onclick="mark_edit(this)">确认</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div><!-- end-mark-modal -->
    {% endblock %}
{% endif %}
